
@*@model GoerTekLover.Models.UserProfile*@
@{
    ViewBag.Title = "EmailValidate";
}

<h2>EmailValidate</h2>

<p>To complete the registration process, look for an email in your inbox that provides further instructions</p>

@*Your email is: @Html.LabelFor(m=>m.Email)
Click <a href="#">here</a> to your email box!*@
